.parent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
}

.Piechart,
.Mapchart,
.BarChart {
  flex: 1 1 300px; /* Ensure each chart has equal width and set a minimum width */
  margin: 10px; /* Add some margin between charts */
}

h1 {
  color: blue;
}
